@page
@model RazorPageDemo.Pages.Nomenclatures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col">
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </div>
    <div class="col">
        <form method="get">
            Name:<input type="text" name="filter" value="@Model.Filter"/>
            <input type="submit" value="Filter" class="btn btn-primary"/>
        </form>
    </div>
        <div class="col">
        <form method="post" asp-page-handler="upload" enctype="multipart/form-data">
            <input type="file" asp-for="Upload"/>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>

<button onclick="fillTable()" class="btn btn-primary">Fill table</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="nomenclatureTBody">

    </tbody>
</table>
<ul class="pagination" id="paginatorId">

</ul>