@page
@model IndexModel
@{
    ViewData["Title"] = Localizer["Home page"];
}



<div class="row">
    <div class="col-12 col-sm-6" style="background-color:antiquewhite">
        @Localizer["Col1"]
    </div>
    <div class="col-12 col-sm-6" style="background-color:azure">
        <div class="row">
            <div class="col" style="background-color:beige"> @Localizer["Inner column1"]</div>
            <div class="col" style="background-color:darkgrey"> @Localizer["Inner column2"]</div>
        </div>
    </div>

</div>
