@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-12 col-sm-6" style="background-color:antiquewhite">
        Col1
    </div>
    <div class="col-12 col-sm-6" style="background-color:azure">
        <div class="row">
            <div class="col" style="background-color:beige"> Inner column1</div>
            <div class="col" style="background-color:darkgrey"> Inner column2</div>
        </div>
    </div>

</div>
