@model int
<a asp-page="./Edit" asp-route-id="@Model" class="bi bi-pencil-square"></a> |
<a asp-page="./Details" asp-route-id="@Model" class="bi bi-ticket-detailed"></a> |
<a asp-page="./Delete" asp-route-id="@Model" class="bi bi-trash"></a>
