@model int
<a asp-page="./Edit" asp-route-id="@Model" class="btn btn-primary">Edit</a> |
<a asp-page="./Details" asp-route-id="@Model" class="btn btn-primary">Details</a> |
<a asp-page="./Delete" asp-route-id="@Model" class="btn btn-danger">Delete</a>
