<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFDataSetDemo.Properties.Settings.pv211ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=pv211;User ID=sa;Password=&quot;Aa1234567890-=&quot;;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WFDataSetDemo.Properties.Settings.testConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=&quot;Aa1234567890-=&quot;;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>